.form {
    margin-top: var(--gap);
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
}

.formFields {
    display: grid;
    grid-template-columns: max-content 150px auto;
    gap: var(--gap-sm);
}

.fieldError {
    color: crimson;
}

.submitButton {
    width: 90px;
    /* margin-top: var(--gap-sm); */
}

.gridField {
    display: grid !important;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
}
