.header {
    display: flex;
    gap: var(--gap);
}

.link[aria-current="page"] {
    text-decoration: underline;
}

.logoutButton {
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}