.wrapper {
    position: relative;

    &.opened {
        .options {
            display: block;
        }
    }
}

.options {
    position: absolute;
    right: 0;
    top: 100%;
    display: none;
    border: 1px solid black;
}

.option {
    white-space: nowrap;
    cursor: default;
}

.logout {
    cursor: pointer;
}

.value {
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}
